.text-box{
    min-height: 50px;
    width: 300px;
    border-radius: 5px;
    border: 2px dashed #abced4;
    background: #abced444;
    margin:auto; 
    padding: 1rem; 
    font-size: 4rem;
    text-align: center;
   
}

#percentage{
    width:50%; 
}